# LaTeX
*.thm
*.synctex.gz
*.ps
*.out
*.dvi
*.blg
*.bbl
*.aux
*.log

# PyCharm
__pycache__
.idea

# jupyter
.ipynb_checkpoints

# python package
.eggs
.pytest_cache
*.egg-info
dist
build

# binaries
*.so

external/rtamt

bazel-bin
bazel-out
bazel-stl_crmonitor
bazel-testlogs