rtamt==0.3
numba==0.51.2
numpy
commonroad-io==2021.1
commonroad-vehicle-models==1.0.0
ruamel-yaml>=0.16.12
matplotlib~=3.5.1
setuptools~=50.3.1
enum34~=1.1.10
pandas~=1.2.4
shapely~=1.7.1
scipy~=1.7.3
commonroad-drivability-checker>=2021.4