git+https://github.com/cirrostratus1/rtamt.git@6ef48e956837f5b60f514011d3d6eabf6307e042
numba==0.51.2
numpy
commonroad-io==2022.1
commonroad-vehicle-models==2.0.0
ruamel-yaml>=0.16.12
matplotlib~=3.5.1
setuptools~=50.3.1
pandas~=1.2.4
shapely~=1.7.1
scipy~=1.7.3
commonroad-drivability-checker>=2021.4